body {
    background: conic-gradient(from 195deg at 87.56% 117.95%, #0DA4F9 0deg, #0DA4F9 0deg, #0DA4F9 0.035999999090563506deg, #E1F4FE 198.74999284744263deg, #E1F4FE 315deg, #FFF 360deg);
    margin: 0 auto;
    background-attachment:fixed;
}
.container {
    width: auto;
    margin: 0;
}

/*Header*/
.div__logo {
    height: 56px;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    position: fixed;
    left:  0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: #0DA4F9;
}

.chat__logo {
    width: 54.205px;
    height: 37.908px;
    flex-shrink: 0;
}

/*Input and button*/
.input__send {
    height: 45px;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(30, 30, 30);
}

.send__message {
    background-color: transparent;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    border: 0 solid rgb(30, 30, 30);
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    resize: none;
    margin: 0;
    line-height: 20px;
    padding: 10px 50px 7px 13px;
    caret-color: rgb(3, 196, 255);
}

.send__message::placeholder {
    color: #616060;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-top: 2px;
}

.send__message:focus {
    outline: none;
}

.button__send {
    width: 49px;
    height: 49px;
    flex-shrink: 0;
    background-image: url('../image/button_img.png');
    background-size: cover;
    border: none;
    background-color: rgb(30, 30, 30);
    margin-bottom: -20px;
    margin-right: -12px;
    animation: fadeIn 0.2s ease-in-out forwards;
}

.button__send:focus {
    outline: none;
}


/*Chat*/
.main__chat {
    padding-top: 80px;
    box-sizing: border-box;
    height: 211vw;
}

.bot__message {
    display: inline-block;
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ffffff;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 35px 7px 0;
    padding: 10px 10px 13px 10px;
    word-wrap: break-word;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.user__message {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 7px 35px;
    background-color: rgb(51,145,235);
    padding: 10px 10px 13px 10px;
    align-self: flex-end;
    word-wrap: break-word;
    animation: fadeIn 0.2s ease-in-out forwards;
}


/*Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
